<h1>New Text Post</h1>
<hr>
<%= form_for(TextPost.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <hr>
  <%= f.submit "Post" %>
<% end %>
