<!DOCTYPE html>
<html>
  <head>
    <title>Fumblr</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <% if signed_in? %>
        Signed in as: <span class="top-kek"><%= current_user.email %></span>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>

      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
